# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: SwitchBot MQTT Proxy
version: "1.2.12"
slug: switchbot-mqtt-proxy
description: Polls the SwitchBot cloud API and posts all SwitchBot sensors to MQTT
url: "https://github.com/DarwinInnovation/di-ha-addons/tree/main/switchbot-mqtt-proxy"
arch:
  - aarch64
  - amd64
image: "ghcr.io/darwininnovation/di-ha-addons-switchbot-mqtt-proxy-{arch}"
init: false
services:
  - "mqtt:need"
map:
  - share:rw
options:
  switchbot:
    token: "token_from_app"
    secret: "secret_from_app"
  mqtt:
    host: ""
    username: ""
    password: ""
schema:
  switchbot:
    token: "str"
    secret: "str"
  mqtt:
    host: str
    username: str
    password: str

